* {
    margin: 0;
    padding: 0;
}
.app-icon {
    font-size: 36px;
    background-color: #3b5998;
    color: #ffffff;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    min-height: 10vh;
}

.search-box {
    background-color: #444444;
    border: unset;
}
main {
    min-height: 100vh;
    margin-top: 10vh;
    background-color: rgb(228, 227, 227);
}
.gray-icon {
    font-size: 40px;
    color:gray ;
}
.profile-img {
    height: 50px;
    width: auto;
    border-radius: 50%;
}   
.nav-section {
    flex: 1;
}
.costum-user {
    font-size: 16px;
}
.costumize-icon {
   font-size: 25px;
    height: 40px;
    width:40px;
    background-color: rgb(73, 72, 72);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.post-style {
    font-size: 13px;
}
.card-style {
    height: 52rem;
    width: 35rem;
}
.icons-style {
    font-size: 25px;
}
.profile-img-box {
    height: 33px;
    width: auto;
    border-radius: 50%;
}
.search-box-comment {
    background-color: rgb(245, 241, 241);
    border: unset;
    width: 495px;
    height: 32px;
}
.comment-img {
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
.comment-style {
    margin-left: 40px;
}