* {
    margin: 0;
    padding: 0;
}
.app-icon {
    font-size: 36px;
    background-color: #3b5998;
    color: #ffffff;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box {
    background-color: #444444;
    border: unset;
}
main {
    min-height: 120vh;
    margin-top: 13vh;
}
.gray-icon {
    font-size: 40px;
    color:gray ;
}
.profile-img {
    height: 50px;
    width: auto;
    border-radius: 50%;
}   
.nav-section {
    flex: 1;
}
.costum-user {
    font-size: 16px;
}
.costumize-icon {
   font-size: 25px;
    height: 40px;
    width:40px;
    background-color: rgb(73, 72, 72);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-position {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.post-style {
    font-size: 13px;
}
.card-image {
    height: 100%;
    width: 100%;

}